---
import BaseLayout from "../../components/layouts/BaseLayout.astro";
import HomeLayout from "../../components/layouts/HomeLayout.astro";
---

<BaseLayout title="About">
  <HomeLayout>
    <Fragment slot="name">
      Si<span class="primary">m</span>on Sauzede
    </Fragment>
    <Fragment slot="job">
      Devel<span class="secondary">o</span>per
    </Fragment>
    <Fragment slot="since"></Fragment>
    <Fragment slot="baseline">
      What is exciting about development is the emergence resulting from
      interactions between multiple independent systems. This emergence leads to
      <b>added value</b>, where the program surpasses the mere juxtaposition of
      the systems that compose it.
    </Fragment>

    <Fragment slot="techHeader">
      <span class="titlePart onlyWide">Te<span class="primary">c</span>hno</span
      ><span class="titlePart onlyWide"
        >.<span class="secondary"><span class="lowercase">l</span>ogies</span
        ></span
      >
    </Fragment>

    <Fragment slot="backHead">
      <span class="titlePart">Ba<span class="primary">ck</span>end</span><span
        class="titlePart">|<span class="secondary">Development</span></span
      >
    </Fragment>
    <Fragment slot="backContent">
      I specialize in crafting server applications that go beyond mere
      <b>functionality</b>, emphasizing <b>intelligent workflows</b>. My passion
      lies in constructing robust systems that provide <b>ergonomic</b> user experiences."
    </Fragment>

    <Fragment slot="archHead">
      <span class="titlePart">Sof<span class="primary">tw</span>are</span><span
        class="titlePart">::<span class="secondary">Architecture</span></span
      >
    </Fragment>
    <Fragment slot="archContent">
      I enjoy designing systems that stand the test of time, ensuring not only
      <b>immediate functionality</b> but also long-term maintainability, <b
        >testability</b
      >, and <b>expressiveness</b>. I strive to create systems that evolve with
      your business, promoting adaptability and scalability.
    </Fragment>

    <Fragment slot="ciHead">
      <span class="titlePart">Sustain<span class="primary">a</span>ble</span><span
        class="titlePart">><span class="secondary">Design</span></span
      >
    </Fragment>
    <Fragment slot="ciContent">
      I minimize the environmental footprint of development, from the design phase through to delivery. I take into account the energy consumption of the software as well as the economic cost.
    </Fragment>

    <Fragment slot="toolHead">Outillage</Fragment>
    <Fragment slot="toolContent">
      From concept to implementation, I excel in creating <b>automated tools</b>
      that align with your specific objectives. Whether you require a data processing
      <b>utility</b>, workflow automation solution, or a task-specific tool, I
      leverage my expertise to provide you with effective and tailored
      solutions.
    </Fragment>
    <Fragment slot="toolTags">
      <li class="tag">Parsers</li>
      <li class="tag">DSLs</li>
      <li class="tag">Discord bots</li>
      <li class="tag">Scripts</li>
      <li class="tag">Editors</li>
      <li class="tag">APIs</li>
      <li class="tag">Backends</li>
    </Fragment>

    <Fragment slot="teachHead">Tutoring</Fragment>
    <Fragment slot="teachContent">
      Through individual sessions, I accompany you as you work on your initial
      projects. Whether it's clarifying concepts, solving problems, or providing
      advice on best practices, I am here to ensure that your <b>learning</b> journey
      is <b>smooth</b> and <b>enriching</b>.
    </Fragment>
    <Fragment slot="teachTags">
      <li class="tag">Code reviews</li>
      <li class="tag">Guidelines</li>
      <li class="tag">Advices</li>
    </Fragment>
  </HomeLayout>
</BaseLayout>

<style is:global>
  .primary {
    color: var(--primary);
  }

  .secondary {
    color: var(--secondary);
  }

  .lowercase {
    text-transform: lowercase;
  }

  .tag {
    padding: 5px 10px 5px 10px;
    margin: 5px;
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
    font-weight: bolder;
  }

  .titlePart {
    display: block;
  }

  @media (min-width: 500px) {
    .titlePart.onlyWide {
      display: inline;
    }
  }
</style>
