---
import "@fontsource/lato";
import "@fontsource/prompt";
import "normalize.css/normalize.css";
import ArrowMove from "../ArrowMove.astro";

interface Props {
  title: string;
}
const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="Description"
      content="Simon Sauzede, professionel du développement logiciel et du développement web à Clermont-Ferrand"
    />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
    <footer>
      <span>simon.sauzede@gmail.com</span>
      -
      <span>Clermont-Ferrand</span>
    </footer>

    <div id="readmore">
      <ArrowMove type="down" />
    </div>
  </body>
</html>

<script>
  import { hasScrolledBottom } from "../../stores/mainScroll";
  import { isMobile } from "../../stores/device";

  isMobile.subscribe((isMobile) => {
    const arrowElement = document.getElementById("readmore");
    if (!arrowElement) return;

    if (isMobile) {
      arrowElement.style.display = "block";
      return;
    }

    arrowElement.style.display = "none";
  });

  hasScrolledBottom.subscribe((hasScrolledBottom) => {
    const arrowElement = document.getElementById("readmore");
    if (!arrowElement) return;

    if (hasScrolledBottom) {
      arrowElement.style.display = "none";
      return;
    }
  });
</script>

<style is:global>
  :root {
    --primary: rgb(88, 8, 164);
    --primary-alt: rgb(164, 120, 205);
    --secondary: rgb(190, 117, 8);
    --secondary-alt: rgb(249, 202, 91);
  }

  html {
    font-size: 16px;
    position: relative;
    font-family: "Prompt", sans-serif;
    background: #f8f8f8;
    overflow-x: hidden;
    --header-height: 250px;
  }

  @media (min-width: 500px) {
    html {
      font-size: 18px;
    }
  }

  @media (min-width: 750px) {
    html {
      font-size: 20px;
    }
  }

  main::before {
    background-image: url("/back2.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    opacity: 0.5;
  }

  main {
    position: relative;
    padding: 0;
  }

  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    font-size: 1rem;
    color: black;
  }

  footer > * {
    padding: 0 10px;
  }
</style>
