---
import {
  FaAws,
  FaDocker,
  FaGitlab,
  FaLightbulb,
  FaRust,
  FaTools,
} from "react-icons/fa";
import {
  SiAstro,
  SiMoonrepo,
  SiNextdotjs,
  SiTauri,
  SiTerraform,
  SiTypescript,
  SiReact,
} from "react-icons/si";
import MainScrollTracker from "../MainScrollTracker.astro";
import { PopLogo } from "../PopLogo";
import Socials from "../Socials.astro";
---

<section id="about">
  <img id="portrait" src="/portr.png" alt="portrait du développeur" />
  <div id="infos">
    <h1 id="name">
      <span><span class="uppercase"><slot name="name" /></span></span>
    </h1>
    <sub id="job"><span class="uppercase"><slot name="job" /></span></sub>
    <sub id="since"><slot name="since" /></sub>
    <p>
      <slot name="baseline" />
    </p>
  </div>
</section>
<Socials />
<section id="technologies">
  <h2 class="sectionTitle">
    <slot name="techHeader" />
  </h2>
  <ul>
    <li>
      <PopLogo
        client:load
        text="typescript"
        link="https://www.typescriptlang.org/"
        id="ts"
      >
        <SiTypescript />
      </PopLogo>
    </li>
    <li>
      <PopLogo
        client:load
        text="rust"
        link="https://www.rust-lang.org/fr"
        id="rs"
      >
        <FaRust />
      </PopLogo>
    </li>
    <li>
      <PopLogo client:load text="docker" link="https://www.docker.com/" id="dk">
        <FaDocker />
      </PopLogo>
    </li>
    <li>
      <PopLogo
        client:load
        text="amazon web services"
        link="https://aws.amazon.com/"
        id="aws"
      >
        <FaAws />
      </PopLogo>
    </li>
    <li>
      <PopLogo
        client:load
        text="terraform"
        link="https://www.terraform.io/"
        id="tf"
      >
        <SiTerraform />
      </PopLogo>
    </li>
    <li>
      <PopLogo
        client:load
        text="gitlab"
        link="https://about.gitlab.com/"
        id="gl"
      >
        <FaGitlab />
      </PopLogo>
    </li>
    <li>
      <PopLogo client:load text="astro" link="https://astro.build/" id="as">
        <SiAstro />
      </PopLogo>
    </li>
    <li>
      <PopLogo
        client:load
        text="react"
        link="https://fr.legacy.reactjs.org/"
        id="re"
      >
        <SiReact />
      </PopLogo>
    </li>
    <li>
      <PopLogo client:load text="tauri" link="https://tauri.app/fr/" id="tr">
        <SiTauri />
      </PopLogo>
    </li>
    <li>
      <PopLogo client:load text="nextjs" link="https://nextjs.org/" id="nxt">
        <SiNextdotjs />
      </PopLogo>
    </li>
    <li>
      <PopLogo client:load text="moonrepo" link="https://moonrepo.dev/" id="mr">
        <SiMoonrepo />
      </PopLogo>
    </li>
  </ul>
</section>

<section id="competences">
  <div id="compContainer">
    <div>
      <h2 class="sectionTitle">
        <slot name="backHead" />
      </h2>
      <p>
        <slot name="backContent" />
      </p>
    </div>
    <div>
      <h2 class="sectionTitle">
        <slot name="archHead" />
      </h2>
      <p>
        <slot name="archContent" />
      </p>
    </div>
    <div>
      <h2 class="sectionTitle">
        <slot name="ciHead" />
      </h2>
      <p>
        <slot name="ciContent" />
      </p>
    </div>
  </div>
</section>
<section id="services">
  <ul>
    <li class="serviceContent">
      <FaTools />
      <h2><slot name="toolHead" /></h2>
      <div>
        <p>
          <slot name="toolContent" />
        </p>
        <ul>
          <slot name="toolTags" />
        </ul>
      </div>
    </li>
    <li class="serviceContent">
      <FaLightbulb />
      <h2><slot name="teachHead" /></h2>
      <div>
        <p>
          <slot name="teachContent" />
        </p>
        <MainScrollTracker />
        <ul>
          <slot name="teachTags" />
        </ul>
      </div>
    </li>
  </ul>
</section>

<style>
  section {
    padding: 10px 20px 10px 20px;
    overflow: hidden;
    position: relative;
    position: relative;
    margin-top: 10vh;
  }

  .sectionTitle {
    font-size: 4.2rem;
    font-weight: bolder;
    font-family: "Lato", sans-serif;
    text-transform: capitalize;
    margin-bottom: 2rem;
  }

  .uppercase {
    text-transform: uppercase;
  }
</style>

<style>
  #about {
    --section-height: calc(100vh - 2.5rem);
  }

  #about {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    min-height: var(--section-height);
    width: fit-content;
    margin: auto;
    max-width: 100%;
  }

  @media (min-width: 1200px) {
    #about {
      padding-top: 15vh;
      height: unset;
    }
  }

  #portrait {
    max-width: 500px;
    width: 100%;
    border-radius: 20px;
    margin-bottom: 1rem;
  }

  #infos {
    display: flex;
    flex-direction: column;
    wrap: wrap;
  }

  #infos h1,
  sub {
    margin: 0;
    width: 100%;
    line-height: 0.75;
    margin-bottom: 30px;
    font-weight: bolder;
  }

  #infos p {
    max-width: 500px;
    padding-top: 2rem;
    display: none;
    font-size: 1rem;
    font-family: "Lato", sans-serif;
  }

  #infos .uppercase {
    font-size: 2.6rem;
  }

  #infos #name {
    font-size: 2.2rem;
    text-align: left;
  }

  #infos #name span {
    display: inline-block;
  }

  #infos #job {
    font-size: 2.2rem;
    text-align: right;
  }

  #about #since {
    font-size: 1.5rem;
    font-weight: lighter;
    text-align: right;
  }

  @media (min-aspect-ratio: 10/11) {
    #about {
      flex-direction: row;
      align-items: center;
      width: 100%;
      justify-content: center;
    }

    #portrait {
      max-width: 300px;
      width: 40vw;
      margin: 0;
      margin-right: 20px;
    }

    #infos p {
      display: block;
    }

    #infos h1,
    sub {
      margin: 0;
    }

    #about #since {
      line-height: 1.5;
    }
  }
</style>

<style>
  #technologies {
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
  }

  #technologies h2 > span {
    display: inline;
  }

  @media (min-width: 500px) {
    #technologies h2 {
      text-align: center;
    }
  }

  #technologies ul {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0 auto;
    container-type: inline-size;
    max-width: 420px;
    justify-content: center;
  }

  #technologies li {
    display: flex;
    list-style: none;
    line-height: 0;
    font-size: 4rem;
    justify-content: center;
    padding: 10px;
    font-size: 64px;
  }

  #technologies li svg:hover {
    color: var(--primary);
  }

  #technologies li:nth-child(-n + 2) {
    width: 100%;
    font-size: 210px;
    padding: 0 10px;
    box-sizing: border-box;
    margin-bottom: 20px;
    max-width: unset;
  }

  @container (min-width: 420px) {
    #technologies li:nth-child(-n + 2) {
      max-width: 50%;
    }

    #technologies li:nth-child(0n + 1) {
      justify-content: flex-end;
    }
    #technologies li:nth-child(0n + 2) {
      justify-content: flex-start;
    }
  }

  @media (min-width: 1200px) {
    #technologies {
      margin-top: unset;
      max-width: unset;
    }

    #technologies h2 {
      display: none;
    }

    #technologies ul {
      padding-top: 40px;
      flex-direction: column;
      max-height: 200px;
      max-width: unset;
      align-items: center;
      align-content: center;
    }

    #technologies li:nth-child(-n + 2) {
      width: unset;
      padding: 10px;
    }

    #technologies li {
      padding: 10px;
    }
  }
</style>

<style>
  #competences {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }

  #compContainer {
    font-size: 1.5rem;
    width: 100%;
  }

  #compContainer p {
    margin: 0;
    text-indent: 1rem;
    font-size: 1.35rem;
    font-family: "Lato", sans-serif;
  }
</style>

<style>
  #services {
    padding: 0;
    font-size: 1.35rem;
  }
  #services > ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
  }

  .serviceContent:nth-child(2n + 1) {
    background-color: var(--secondary-alt);
  }

  .serviceContent:nth-child(2n + 0) {
    background-color: var(--primary-alt);
  }

  .serviceContent {
    padding: 30px 20px 30px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-shrink: 1;
    flex-grow: 1;
  }

  .serviceContent > * {
    max-width: 500px;
  }

  .serviceContent svg {
    font-size: 3rem;
    color: white;
    margin-bottom: 1rem;
  }

  .serviceContent h2 {
    font-size: 2.5rem;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
  }

  .serviceContent:nth-child(2n + 1) h2 {
    color: var(--secondary);
  }

  .serviceContent:nth-child(2n + 0) h2 {
    color: var(--primary);
  }

  .serviceContent p {
    font-family: "Lato", sans-serif;
  }

  .serviceContent ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
  }
</style>
