---
import BaseLayout from "../components/layouts/BaseLayout.astro";
import HomeLayout from "../components/layouts/HomeLayout.astro";
---

<BaseLayout title="Présentation">
  <HomeLayout>
    <Fragment slot="name">
      Si<span class="primary">m</span>on Sauzede
    </Fragment>
    <Fragment slot="job">
      Devel<span class="secondary">o</span>ppeur
    </Fragment>
    <Fragment slot="since"></Fragment>
    <Fragment slot="baseline">
      Ce qui est passionnant avec le développement, c’est l’émergence découlant
      des interactions entre plusieurs systèmes indépendants. De cette émergence
      découle une <b>valeur ajoutée</b>, où le programme dépasse la simple
      juxtaposition des systèmes qui le composent.
    </Fragment>

    <Fragment slot="techHeader">
      <span class="titlePart onlyWide">Te<span class="primary">c</span>hno</span
      ><span class="titlePart onlyWide"
        >.<span class="secondary"><span class="lowercase">l</span>ogies</span
        ></span
      >
    </Fragment>

    <Fragment slot="backHead">
      <span class="titlePart">Devel<span class="primary">op</span>pement</span
      ><span class="titlePart">|<span class="secondary">Backend</span></span>
    </Fragment>
    <Fragment slot="backContent">
      Je me spécialise dans la création d'applications serveur qui vont au-delà
      de la simple <b>fonctionnalité</b>, mettant l'accent sur des <b
        >flux de travail intelligents</b
      >. Ma passion réside dans la construction de systèmes robustes qui offrent
      des expériences utilisateurs <b>ergonomiques</b>.
    </Fragment>

    <Fragment slot="archHead">
      <span class="titlePart">Ar<span class="primary">ch</span>itecture</span
      ><span class="titlePart">::<span class="secondary">Logicielle</span></span
      >
    </Fragment>
    <Fragment slot="archContent">
      J'aime concevoir des systèmes qui résistent à l'épreuve du temps,
      garantissant non seulement une <b>fonctionnalité immédiate</b>, mais aussi
      une
      <b>maintenabilité</b>, une <b>testabilité</b>, et une <b>expressivité</b> à
      long terme. Je m'efforce de créer des systèmes qui évoluent avec votre entreprise,
      favorisant l'adaptabilité et l'évolutivité.
    </Fragment>

    <Fragment slot="ciHead">
      <span class="titlePart">Ec<span class="primary">o</span></span><span
        class="titlePart">><span class="secondary">Conception</span></span
      >
    </Fragment>
    <Fragment slot="ciContent">
      Je minimise l'empreinte environnementale du développement, ce dès la phase de conception et jusqu'à la livraison. Je prends en compte la consommation énergétique du logiciel ainsi que le coût économique.
    </Fragment>

    <Fragment slot="toolHead">Outillage</Fragment>
    <Fragment slot="toolContent">
      Du concept à la mise en œuvre, j’excelle dans la création d’<b
        >outils automatisés</b
      > qui correspondent à vos objectifs spécifiques. Que vous ayez besoin d'un
      <b>utilitaire</b> de traitement de données, d'une solution d'automatisation
      des flux de travail ou d'un outil spécifique à une tâche, je mets à profit
      mon expertise pour vous proposer des solutions efficaces et adaptées à vos
      besoins.
    </Fragment>
    <Fragment slot="toolTags">
      <li class="tag">Parsers</li>
      <li class="tag">DSLs</li>
      <li class="tag">Bots discord</li>
      <li class="tag">Scripts</li>
      <li class="tag">Editeurs</li>
      <li class="tag">APIs</li>
      <li class="tag">Backends</li>
    </Fragment>

    <Fragment slot="teachHead">Tutorat</Fragment>
    <Fragment slot="teachContent">
      Grâce à des séances individuelles, je vous accompagne pendant que vous
      travaillez sur vos premiers projets. Qu'il s'agisse de clarifier des
      concepts, de résoudre des problèmes ou de vous offrir des conseils sur les
      meilleures pratiques, je suis là pour garantir que votre parcours d'<b
        >apprentissage</b
      > soit <b>fluide</b> et <b>enrichissant</b>.
    </Fragment>
    <Fragment slot="teachTags">
      <li class="tag">Revues de code</li>
      <li class="tag">Guidelines</li>
      <li class="tag">Conseils</li>
    </Fragment>
  </HomeLayout>
</BaseLayout>

<style is:global>
  .primary {
    color: var(--primary);
  }

  .secondary {
    color: var(--secondary);
  }

  .lowercase {
    text-transform: lowercase;
  }

  .tag {
    padding: 5px 10px 5px 10px;
    margin: 5px;
    background-color: var(--primary);
    color: white;
    border-radius: 5px;
    font-weight: bolder;
  }

  .titlePart {
    display: block;
  }

  @media (min-width: 500px) {
    .titlePart.onlyWide {
      display: inline;
    }
  }
</style>
