---
import { FaArrowDown, FaArrowUp } from "react-icons/fa";

interface Props {
  type: "up" | "down";
}
const { type } = Astro.props;
---

<div id="arrowMove">
  {type == "down" ? <FaArrowDown /> : <FaArrowUp />}
</div>

<style>
  #arrowMove {
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 1.5rem;
    color: var(--primary);
    animation: updown 1s ease-in-out infinite;
  }

  @keyframes updown {
    from {
      transform: translateY(-20px);
    }
    to {
      transform: translateY(0px);
    }
  }
</style>
