---

---

<div id="mainScrollTracker"></div>

<style>
  #mainScrollTracker {
    height: 0;
  }
</style>

<script>
  import { hasScrolledBottom } from "../stores/mainScroll";

  let options = {
    rootMargin: "0px",
    threshold: 1.0,
  };

  const el = document.querySelector("#mainScrollTracker");
  const observer = new IntersectionObserver((e) => {
    if (e[0].isIntersecting) {
      hasScrolledBottom.set(true);
    }
  }, options);
  el && observer.observe(el);
</script>
