---
import { FaDiscord, FaGitlab, FaLinkedin } from "react-icons/fa";
import { MdEmail } from "react-icons/md";
import Link from "./Link.astro";
---

<div id="socials">
  <ul>
    <li>
      <Link ref="https://gitlab.com/SimStuch"><FaGitlab /></Link>
    </li>
    <li>
      <Link ref="https://linkedin.com/in/simonsauzede"><FaLinkedin /></Link>
    </li>
    <li>
      <Link ref="https://discordapp.com/users/359599022429962242">
        <FaDiscord />
      </Link>
    </li>
    <!-- <li>
      <Link ref="mailto:simon.sauzede@gmail.com"><MdEmail /></Link>
    </li> -->
    <!-- <li id="oldPortfolio">
      <Link ref="https://old.simonsauzede.fr/">V1</Link>
    </li> -->
  </ul>
</div>

<script>
  const el = document.querySelector("#socials");
  const observer = new IntersectionObserver(
    ([e]) => {
      if (e.boundingClientRect.top >= 0) {
        e.target.classList.remove("is-pinned");
        return;
      }
      e.target.classList.add("is-pinned");
    },
    { threshold: [1] }
  );

  el && observer.observe(el);
</script>

<script>
  import { hasScrolledBottom } from "../stores/mainScroll";

  hasScrolledBottom.subscribe((value) => {
    const el = document.querySelector("#socials p") as HTMLParagraphElement;
    if (!el) return;
    if (value) {
      el.style.display = value ? "flex" : "none";
      el.style.opacity = value ? "1" : "0";
    }
  });
</script>

<style>
  #socials {
    width: fit-content;
    margin: 0 auto;
    padding: 0 20px;
    position: sticky;
    top: -1px;
    z-index: 5;
  }

  #socials ul {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
  }

  #socials.is-pinned ul {
    transition:
      background-color 0.5s,
      box-shadow 0.5s,
      padding 0.5s;
    background: color-mix(in srgb, #f8f8f8 95%, transparent);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 0 5px;
  }

  #socials li {
    list-style: none;
    padding: 5px;
    font-size: 2rem;
    line-height: 0;
    cursor: pointer;
    color: black;
  }

  #socials li:hover {
    color: var(--primary);
  }

  @media (min-width: 1200px) {
    #socials {
      position: fixed;
      left: 50%;
      transform: translateX(-50%);
      height: fit-content;
    }
  }
</style>

<style is:global>
  #oldPortfolio > a {
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 1rem;
    height: 100%;
    opacity: 0;
    width: 0;
    transition:
      opacity 0.5s,
      width 0.5s;
  }

  #socials.is-pinned #oldPortfolio > a {
    opacity: 1;
    width: fit-content;
  }
</style>
